.banner {
    margin-top: 30px;
}

.banner-div {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.empresa-cargo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.banner-content {
    font-family: 'Poppins', sans-serif;

    display: flex;
    flex-direction: column;
    gap: 23px;
}

.banner-content img {
    width: 32px;
    height: 32px;
}

.banner-content h3 {
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

.banner-content p {
    font-size: 15px;
    color: #8491A0;
    font-weight: 400;
    line-height: 150%;
}

.experience-description {
    width: 800px;
}