:root {

  /* cores de fundo */
  --gray: #FDFBFB;
  --white: #FFFFFF;
  --red: #D90429;
  --icons-red: #EF233C;
  --black: #000000;

  --background: #161513;

  /*textos*/
  --p-gray: #000000a6;
}

body {
  font-family: 'Plus Jakarta Sans', sans-serif;
  color: white;
  background-color: var(--background);
}

.components-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
  align-items: center;
}

.components-container h1{
  text-align: center;
}