.circle {
    width: 251px;
    height: 223px;
}

.home-text-container {
    margin-top: 41px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 39px;
}

.home-button-container {
    margin-top: 54px;
    gap: 18px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.home-text-container .custom-title {
    width: 656px;
}